//
   Created by v545192 on 11/3/2015.
doctype html
div.test-item
    div(ng-if="!itemNode.children" )
        a(ng-click="select(itemNode)") {{itemNode.label}}

    div(ng-if="itemNode.children || !itemNode.cmd")
        a(ng-click="select(itemNode)") {{itemNode.label}}
