extends layout
doctype html
block content
    h1= title
    p Welcome to #{title}
    div(ng-app=ngAppName)
        div(ng-controller="TesterCtrl")
            hr
            div#test-tree(class="framebox")
                input(type="text", ng-model="bagSearch" ng-hide="true")
                div(ivh-treeview="testItemList",ivh-treeview-filter="bagSearch")
                    script(type="text/ng-template")
                        div(title="{{trvw.label(node)}}")
                            span(ivh-treeview-twistie, ivh-treeview-toggle, ng-class="{success: !node.fail, failure: node.fail, running: node.running}")
                            test-item.ivh-treeview-node-label( item-node="node")
                            div(ivh-treeview-children)
            div#outfile-list(class="framebox")
                div.relative
                    a(ng-if="selected.outfiles")
                        b {{selected.item.label}}
                    a(ng-if="!selected.outfiles")
                        b {{selected.item.path}}
                    button(ng-if="selected.outfiles", ng-click="kickOff($event)", ng-disabled="isRunning()", ng-class="{disabled : isRunning(), btn:true, 'btn-sm':true, 'btn-success':true}")
                        span(ng-class="{glyphicon:true, 'glyphicon-refresh':true, spinning:isRuuning()}") Run
                    button(ng-if="selected.item && !selected.outfiles", ng-click="kickOff($event)", ng-disabled="isRunning()", ng-class="{disabled : isRunning(), btn:true, 'btn-sm':true, 'btn-success':true}")
                        span(ng-class="{glyphicon:true, 'glyphicon-refresh':true, spinning:isRuuning()}") Run All
                ul
                    li(ng-repeat="row in selected.outfiles")
                        a(ng-click='showContent(row.loc)') {{row.label}}
            div#outfile-content(class="framebox")
                pre {{filecontent}}
block script
    script(src='/modules/angular/angular.js')
    script(src='/modules/angular-ivh-treeview/dist/ivh-treeview.js')
    script(src='/javascripts/ng-tester-app.js')
