extends layout
doctype html
block content
    h1= title
    p Welcome to #{title}
    div(ng-app=ngAppName)
        div.row(ng-controller="TesterCtrl")
            hr
            div#test-tree.col-xs-12.col-sm5.col-md-3(class="framebox")
                input(type="text", ng-model="bagSearch" ng-hide="true")
                div(ivh-treeview="testItemList",ivh-treeview-filter="bagSearch")
                    script(type="text/ng-template")
                        div(title="{{trvw.label(node)}}")
                            span(ivh-treeview-twistie, ivh-treeview-toggle, ng-class="{success: !node.fail, failure: node.fail, running: node.running}")
                            test-item.ivh-treeview-node-label( item-node="node")
                            div(ivh-treeview-children)
            div#outfile-list.col-xs-12.col-sm-7.col-md-3(class="framebox")
                div.relative
                    div(ng-if="selected.test_runs")
                        b {{selected.item.label}}
                        button.btn.btn-sm.btn-success(ng-if="selected.test_runs", ng-click="kickOff($event)", ng-disabled="isRunning()", ng-class="{disabled : isRunning()}")
                            span(ng-class="{glyphicon:true, 'glyphicon-refresh':true, 'glyphicon-refresh-animate':isRunning()}")
                            | Run
                    div(ng-if="!selected.test_runs")
                        b {{selected.item.path}}
                        button.btn.btn-sm.btn-success(ng-if="selected.item && !selected.test_runs", ng-click="kickOff($event)", ng-disabled="isRunning()", ng-class="{disabled : isRunning()}")
                            span(ng-class="{glyphicon:true, 'glyphicon-refresh':true, 'glyphicon-refresh-animate':isRunning()}")
                            | Run All


                ul
                    li(ng-repeat="row in selected.test_runs", ng-class="{failure:row.rc!=0, success:row.rc===0}")
                        a(ng-click='showContent(row.timestamp)') {{row.timestamp}}
            div#outfile-content.col-sm-12.col-md-8(class="framebox")
                pre {{logcontent}}
            div#outfile-content.col-sm-12.col-md-8(class="framebox")
                pre {{errcontent}}
block script
    script(src='/modules/angular/angular.js')
    script(src='/modules/angular-websocket/dist/angular-websocket.js')
    script(src='/modules/angular-ivh-treeview/dist/ivh-treeview.js')
    script(src='/javascripts/ng-tester-app.js')
