body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

ul {
    list-style-type: none;
}

li span {
    display: inline;
}

div.test-item {
    display: inline;
}

div.test-item > div {
    display: inline;
}

span.success {
    color: green;
}

span.failure {
    color: red;
}

div > div > div > ul {
    padding-left: 0px;
}

div.ivh-treeview > ul > li {
    padding-left: 0px;
}

button.disabled {
    background: purple;
    color: gray;
}

div#test-tree a {
    display: inline-block;
    width: 150px;
}

div.framebox {
    display: inline-block;
    padding-right: 10px;
    width: 400px;
    height: 1000px;
    overflow-x: auto;
    overflow-y: auto;
}

div.framebox div {
    position: relative;
}

div.framebox button {
    position: absolute;
    right: 0px;
}

div#outfile-content.framebox {
    width: 600px;
}