@keyframes success-running {
    0% {
        background-color: green;
    }
    50% {
        background-color: chartreuse;
    }
    100% {
        background-color: green;
    }
}

@-webkit-keyframes success-running {
    0% {
        background-color: green;
    }
    50% {
        background-color: chartreuse;
    }
    100% {
        background-color: green;
    }
}

@keyframes failure-running {
    0% {
        background-color: red;
    }
    50% {
        background-color: pink;
    }
    100% {
        background-color: red;
    }
}

@-webkit-keyframes failure-running {
    0% {
        background-color: red;
    }
    50% {
        background-color: pink;
    }
    100% {
        background-color: red;
    }
}

div.success.running {
    background-color: green;
    animation-name: success-running;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    -webkit-animation-name: success-running;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
}

div.failure.running {
    background-color: red;
    animation-name: failure-running;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    -webkit-animation-name: failure-running;
    -webkit-animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
}

span.success {
    color: green;
}

span.failure {
    color: red;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

ul {
    list-style-type: none;
}

li span {
    display: inline;
}

div.test-item {
    display: inline;
}

div.test-item > div {
    display: inline;
}

div > div > div > ul {
    padding-left: 0px;
}

div.ivh-treeview > ul > li {
    padding-left: 0px;
}

button.disabled {
    background: purple;
    color: gray;
}

div#test-tree a {
    display: inline-block;
    width: 150px;
}

div.framebox {
    display: inline-block;
    padding-right: 10px;
    width: 400px;
    height: 1000px;
    overflow-x: auto;
    overflow-y: auto;
}

div.framebox div {
    position: relative;
}

div.framebox button {
    position: absolute;
    right: 0px;
}

div#outfile-content.framebox {
    width: 600px;
}