@-webkit-keyframes moving {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: -100% 50%
    }
    100% {
        background-position: -200% 50%
    }
}

@-moz-keyframes moving {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: -100% 50%
    }
    100% {
        background-position: -200% 50%
    }
}

@-o-keyframes moving {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: -100% 50%
    }
    100% {
        background-position: -200% 50%
    }
}

@keyframes moving {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: -100% 50%
    }
    100% {
        background-position: -200% 50%
    }
}

div.success.running {
    background: linear-gradient(270deg, #cdf99b, #aff57f, #25e15e, #25e15e, #aff57f, #cdf99b);
    background-repeat: repeat-x;
    background-size: 200% 100%;
    -webkit-animation: moving 4s linear infinite;
    -moz-animation: moving 4s linear infinite;
    -o-animation: moving 4s linear infinite;
    animation: moving 4s linear infinite;
}

div.failure.running {
    background: linear-gradient(270deg, #f2c3de, #ff95da, #ed64a5, #ed64a5, #ff95da, #f2c3de);
    background-repeat: repeat-x;
    background-size: 200% 100%;
    -webkit-animation: moving 4s linear infinite;
    -moz-animation: moving 4s linear infinite;
    -o-animation: moving 4s linear infinite;
    animation: moving 4s linear infinite;
}

li.success {
    background-color: lightgreen;
}

span.success {
    color: green;
}

li.failure {
    background-color: lightpink;
}

span.failure {
    color: red;
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

.glyphicon-refresh-animate {
    -animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

ul {
    list-style-type: none;
}

li span {
    display: inline;
}

div.test-item {
    display: inline;
}

div.test-item > div {
    display: inline;
}

div.test-item a {
    cursor: hand;
    cursor: pointer;
}

div#outfile-list a {
    cursor: hand;
    cursor: pointer;
}

div > div > div > ul {
    padding-left: 0px;
}

div.ivh-treeview > ul > li {
    padding-left: 0px;
}

button.disabled {
    background: purple;
    color: gray;
}

div#test-tree a {
    display: inline-block;
    width: 150px;
}

div.framebox {
    display: inline-grid;
    padding-right: 10px;
    /*width: 400px;*/
    overflow-x: auto;
    overflow-y: auto;
    max-height: 700px;
}

div.framebox div {
    position: relative;
}

div.framebox button {
    position: absolute;
    right: 0px;
}